.modal-container {
    background-color: transparent;
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left:0;
    margin: 500px;
}
.modal-item {
    margin: 30% auto;
    background-color: #fff;
    width: 100px;
    height: 100px;
}


#doo {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}