.container {
    padding: 10px;
    background-color: gray;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, 300px);

}

.container>div {
    background-color: cadetblue;
    height: 250px;
    border: 1px solid #000;

}
   