@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');

*{
    /* 글꼴 지정 */
    /* font-family: '배민체', '바탕'; */
    /* font-size: 20px; */
    font-family: "Gamja Flower", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1{
    /* 글자 크기 변경 */

    /* 키워드로 조절 */
    /* font-size: medium; */

    /* px로 조절 */
    /* font-size: 100px; */

    /* em으로 조절 (부모요소 기준 배율) */
    /* font-size: 2em; */

    /* rem으로 조절 (최상위 요소 기준 배율) */
    font-size: 2rem;
}

div{
    font-size: 40px;
}

p{
    /* 폰트 굵기 */
    /* font-weight: lighter; */

    /* 숫자를 통해 조절 (100~900 , 100단위) */
    font-weight: 400;
}