/* flex box
행 또는 열로 항목의 무리를 배치하는 1차원 레이아웃 시스템

*/
.container {
    background-color: antiquewhite;
    /* padding:10px 0; */
    display: flex;

    /* flex-direction : 
    주축의 방향을 조절하는 속성 
    column : 주축 세로, 위에서 아래로 배치 
    row : default ,주축을 세로로, 위에서 아래로, default
    reverse : 주축이 뒤집힘
    flex-direction: row; */

    /* flex-wrap : 
    항목의 줄을 바꿀지 말지를 지정
    nowrap : default 한줄에 표시
    wrap : 여러줄에 표시 
    wrap-reverse : 여러줄에 표시하고, 아래부터 배치
    flex-wrap: wrap; */


    /* flex-flow : 
    direction 이랑 wrap을 한꺼번에 줄 수 있음 */
    flex-flow: row wrap;

    /* justify-content : 
    주축을 기준으로 정렬 
    flex-start : default 주축의 시작지점으로 정렬
    flex -end : 주축의 끝점에 맞추어 배치
    space-between : 주축의 시작점과 끝점에 위치하고 나머지를 같은 간격으로 배치
    space-around : 주축에 같은 간격으로 배치
    center : 주축의 중앙에 배치
    justify-content: space-around;
    */

    /* align-items : 
    교차축을 기준으로 정렬 
    flex-start : default, 고차축의 시작점에 맞추어 배치
    flex-end : 교차의 끝점에 맞추어 배치
    center : 중앙에 맞춰 배치
    baseline : 교차축의 문자 바닥 기준선에 맞추어 배치, 잘 안씀
    stretch : 전체영역을 알아서 가득 차게 분배, 잘 안씀
    align-items: stretch; */
    height: 200px;

    /* align-content : 교차축 여러줄을 어떻게 정렬할지 */
    align-content: space-around;





}

/*.item5 {
     align-self : 교차축  한줄을 기준으로 하나의 아이템을 정렬
    align-self: center; }
*/


.item {
    background-color: skyblue;
    width: 150px;
    height: 30px;
    border: 1px solid fuchsia;
}