* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* a */
a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    display: inline-block;
    background-color: #748cfa;
    border-radius: 30px;
    text-align: center;
}

/* header */
h1 {
    color: #4f6ffa;
    padding: 20px;
    text-align: center;
    font-size: 3rem;

}

/* main */
main {
    width: 600px;
    background-color: #dfe5ff;
    margin: auto;
    padding: 15px 30px;
    border-radius: 10px;
}

main>[class^=main-] {
    margin: 20px 0;
}

/* main-top */
.main-top {
    text-align: right;
}

.main-top>a {
    width: 120px;
    padding: 10px;
}

/* main-middle */
.item {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    text-align: center;
    padding: 10px;
    font-size: 1.2rem;
    background-color: #fff;
    margin: 5px 0;
}


.list-head {
    color: #fff;
    font-weight: 900;
    background-color: #748cfa;
    border-radius: 30px;
}

.main-bottom > a {
    padding: 15px;
    margin: 0 5px;
    border-radius: 100%;
    width: 50px;
}

.main-bottom :nth-child(1) {
   padding: 15px 5px;
}